<div>
    <a href="{{ include.link }}" class="animated-button-pulse">{{ include.text }}</a>
</div>
<style>
.animated-button-pulse {
  text-align: center;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  color: white;
  transition: color 0.2s ease 0s, background-color 0.2s ease 0s,
    border 0.2s ease 0s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999999;
  box-sizing: border-box;
  text-decoration: none;
}
.animated-button-pulse:hover {
  animation: pulse 2.0s infinite 0s cubic-bezier(0.25, 0, 0, 1);
  opacity: 1;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
  }
}</style>