<!-- Source: https://uiverse.io/joe-watson-sbf/little-goat-24 -->
<!--Needed to use the link arg in the button include-->
{% capture project_link %}{{include.link}}{% endcapture %}
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="{{ include.img }}" alt="{{ include.alt }}">
        </div>
        <div class="flip-card-back">
           
            <h3 class="title">{{ include.title }}</h3>
            <p>{{ include.description }}</p>
            <div>
                {% include buttons/toon-button.html link=project_link label="Learn More" class='primary' %}
            </div>
        </div>
    </div>
</div>