<script type="module">
  import { FirelightAnalytics } from "/assets/js/firelight-analytics.js";

  const firelight = new FirelightAnalytics({
    endpoint: "{{ site.data.firelightdata.request-origin }}",
  });

  let endTime;

  function stop() {
    let endTime = performance.now();
    let diff = endTime;

    // Remove milliseconds
    diff /= 1000;

    var seconds = Math.round(diff);

    //console.log(seconds);
    if (seconds != NaN && seconds != null) 
    {
      firelight.trackEvent({
        "event-type": "view-duration",
        "data": {
          "pageID": "{{ page.url }}",
          "durationSeconds" : seconds.toString(),
        },
      });
    }
  }

  
  window.onunload = stop;
</script>
