$primary-color: #fcbb8d;
$secondary-color: #ff9c7a;
$accent-color: #88a9f6;
$link-color: $accent-color;
$background-color: #181818;
$card-background:#161616;
$italics-color: $secondary-color;
$text-color: #e9ddde;