{% for post in site.posts limit:4 %}
<li style="display: grid;">
      <h4>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h4>

      <p style="margin-top: 0px; margin-bottom: 0px;"> <strong>{{ post.date | date: "%b %d, %Y" }}</strong> <br>
      {{ post.excerpt }}
      </p>
      {% if post.header.thumb %}
        <img src="{{ post.header.thumb }}" style="height:200px;">
      {% else %}
        <img src="{{ post.header.image }}" style="height:200px;">
      {% endif %}
</li>
   
{% endfor %}
<br>
