---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Make changes here
$primary-color: #244bcc;
$secondary-color: #2c4a62;
$accent-color: #ddc992;
$link-color: $accent-color;
$background-color: #0d0e0f;

a:hover
{
    color: white;
    text-decoration: none !important;
}
a:visited
{
    color: white !important;
}
.typewrite
{
    color: $accent-color;
}
.hp
{
    display: none;
}
mono
{
   font-family: 'Jetbrains Mono';
}
.send-button
{
    color: white;
    background-color: $primary-color;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 1em;
    border: $primary-color;    
}
// Coloring for typing/bold
strong
{
    color: #ddc992;
}

// Don't decorate links
.undeco-link:visited
{
    text-decoration: none;
}
.undeco-link
{
    text-decoration: none;
}
// Modern button
.modern-button
{
    color: white;
    box-shadow: 0 0 0 2px $primary-color;
}
.modern-button svg 
{
    fill: $primary-color;
}
.modern-button .circle 
{
    background-color: $accent-color;
}
.modern-button:active 
{
    box-shadow: 0 0 0 4px $accent-color;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials