@charset "utf-8";


// Custom colors :)
$background-color:#1B262C;
$background-dark: rgb(7, 30, 46);
$background-light:#3a525f;
$foreground-dark:#0F4C75;
$foreground-color:#3282B8;
$foreground-light:#BBE1FA;
$default-text:#FFFFFF;


$grey-dark:$default-text;
$primary: $foreground-dark;
$body-background-color: $background-color;


// Modal
$modal-card-head-background-color:$foreground-dark;
$modal-card-body-background-color:$background-color;
$modal-card-title-color:$default-text;
$modal-content-width:60%;

$navbar-item-hover-background-color: $foreground-color;
$navbar-dropdown-item-hover-background-color:$foreground-color;
$navbar-item-hover-color: $default-text;

// Foreground dark
$navbar-background-color: $foreground-dark;
$navbar-dropdown-background-color:$foreground-dark;
$navbar-height: 5.0rem;

$navbar-dropdown-item-hover-color: $default-text;
$navbar-burger-color: $default-text;
$navbar-item-color:$default-text;

// Import only what is needed from Bulma
@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/button.sass";
@import "../bulma/sass/elements/container.sass";
@import "../bulma/sass/elements/title.sass";
@import "../bulma/sass/form/_all.sass";
@import "../bulma/sass/components/navbar.sass";
@import "../bulma/sass/layout/hero.sass";
@import "../bulma/sass/layout/section.sass";
@import "../bulma/sass/components/modal.sass";
@import "../bulma/sass/grid/tiles.sass";