---
layout: splash
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

<div id="blog-main" role="main"> 
    <br>
    <!--<h1 class="text-left">{{ page.title }}</h1>-->
    {% include post-search.html %}
    {% include time-tracker.html %}
    
    <div id="search-results-parent" style="display: none;">
      <h1 class="text-left">Search Results</h1>
      <div id="search-results-holder">
      </div>
    </div>
    <br>
    <div id="latest-posts">
      <h1>Latest posts</h1>
      <hr>
      {% for post in site.posts limit:4 %}

      <li style="display: grid;">
            <h2>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>

            <p style="margin-top: 0px; margin-bottom: 0px;"> <strong>{{ post.date | date: "%b %d, %Y" }}</strong> <br>
            {{ post.excerpt }}
            </p>
            {% if post.header.thumb %}
              <img src="{{ post.header.thumb }}" style="height:200px;"></img>
            {% else %}
              <img src="{{ post.header.image }}" style="height:200px;"></img>
            {% endif %}
      </li>
         
      {% endfor %}
    </div>
</div>